body{
    background-image: url("https://assets-global.website-files.com/61dc66728f91394eab631066/628e3fa897855ee380834c60_gym-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
